@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title.</h2>


<p>В данном пректе реализовано вывод информаци ив табличном виде и графиках с БД более чем на 10 000 записей.</p>
<p>Web-приложение отображает информацию о поступлениях на склад оригинальных запчастей к автомобилям от разных поставщиков</p>
<p>Для возможности простмотра информации, необходимо залогиниться</p>
<p>Для возможности удаление данных из БД, необходимо зайти под админом. Login: admin@gmain.com  Password: Password!1</p>

<p>На странице <a>@Html.ActionLink("Income", "Index", "Income")</a> реализовано динамический вывод информации с БД о поступлениях товара на склад:</p>
<p>
    Id прихода, дата поступления, название поставщика, количество позиций (строк) в приходе, общая сумма прихода. Ткаже, при клике на зеленый крестик, динамически реализовано отображение детальной информации по каждому приход.
    Возможность выбора сортировки по столбцам и форма для поиска.
</p>

<p>На странице <a>@Html.ActionLink("Income Charts", "IncomeCharts", "Income")</a> реализовано динамический вывод информации с БД в виде диаграмм, а также, возможность импорта:</p>
<p>Линейный график "All suppliers" отображет информацию о всех поставщиках, сумму прихода за весь период</p>
<p>Круговая диаграмма "Top 5 suppliers" отображает информацию о первых 5 поставщиках и всех остальных поставщиков в сумме. В процентном соотношении к общей сумме приходов. </p>

<p>На ст ранице <a>@Html.ActionLink("Price download", "Price", "Home")</a> дополнительно реализовано формирование прайса с БД и сохранение в формате .Excel</p>
