@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Ukraine, Kiev<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zborovi4@gmail.com">Zborovi4@gmail.com</a><br />
    <strong>Tel: +38 (063) 999-04-41</strong>
</address>