@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Финальный проект по специальности: Backend developer</h1>
    <h2>Описание проекта</h2>
    <p class="lead">Разработка информационной системы. Создать базу данных, наполнить ее данными, не забывая про нормализацию. Создайте Web-приложение, которое будет отображать данные из БД. </p>
</div>

<div class="row">
    <h3>Требования:</h3>
    <div class="col-md-4">
        <h2>Главная страница сайта</h2>
        <p>Описание приложения, описание использованных данных, ссылка на источник данных.</p>
    </div>
    <div class="col-md-4">
        <h2>Страница с табличным представлением данных</h2>
        <p>На странице нужно разместить данные в виде таблицы. Таблица должна содержать только ключевые характеристики сущностей. Также страница должна иметь форму для поиска и фильтрации отображаемых данных, поддерживать возможность сортировки по столбцам.</p>
    </div>
    <div class="col-md-4">
        <h2>Страница с графическим представлением</h2>
        <p>На странице нужно разместить несколько графиков (гистограмма, линейный график, круговой и т.п.), графики должны создаваться на основе данных в БД.</p>
    </div>
</div>
<div class="jumbotron">
    <h2>Предварительные требования:</h2>
    <ul>
        <li>.NET</li>
        <li>Entity Framework</li>
        <li>ASP.NET MVC</li>
    </ul>

    <h2>Важные моменты:</h2>
    <ul>
        <li>БД, должна иметь больше 2 таблиц</li>
        <li>Суммарное количество строк в БД, должно быть больше 1 000</li>
        <li>Запросы должны выполняться не дольше 30 секунд</li>
        <li>По возможности сделать загрузку данных таблицы и графиков с помощью AJAX</li>
    </ul>
</div>